/* ------- Contact Form Styles ------- */
section#main input {width: 200px; height: 22px; border: 1px solid #999;}
section#main textarea {width: 566px; height: 160px; border: 1px solid #999;}
section#main input#fsc-submit {width: auto; color: white; background: #334033; font-size: 22px; height: 36px; line-height: 36px; border: 2px solid #fff; margin-top: 10px;}
