/*Images with Captions*/
section#main div.wp-caption {border: 1px solid #999; margin: 1em 0; padding: 6px 0 0 0; background: #fff; -webkit-box-shadow: 1px 1px 5px #999; -moz-box-shadow: 1px 1px 5px #999; box-shadow: 1px 1px 5px #999; text-align: center;}
section#main .alignright {float: right; margin: 0 0 16px 16px;}
section#main .alignleft {float: left; margin: 0 16px 16px 0;}
section#main .aligncenter {margin: 16px auto;}
section#main .wp-caption img {margin: 0; padding: 0;}
section#main .wp-caption p.wp-caption-text {margin: 0; padding: 0; font-size: 12px; width: auto; }
